#field{
    position:absolute;
    margin:0;
    padding:0;
    width:340px;
    height:720px;
    background-color:lightblue;
}

#ball{
    box-sizing: border-box;
    position:absolute;
    height:20px;
    width:20px;
    background-color: #ffc60a;
    border:3px solid #d69200;
    border-radius: 50%;
}

#hole{
    position:absolute;
    left:160px;
    top:600px;
    height:20px;
    width:20px;
    background-color: black;
    border-radius: 50%;
}

